.App {
  text-align: center;
  background: url("/space_bg4.jpeg") no-repeat center center/cover;

}
@font-face {
  font-family: "CustomFont";
  src: url("../public/Valorant.ttf") format("truetype");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background: url("../public/space_bg4.webp") no-repeat center center/cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font: "CustomFont";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
